<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew"
    style="background-image: url('assets/image/Manage-coins_bg.jpg'); background-size: cover; background-position: center;padding: 0px 0 10px;float: left;width: 100%;">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title lot="start"> Application </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="application_bx">
      <ion-row>
        <div class="text_get_started">
          <ion-input placeholder="Enter your first name" (ionChange)="firstNameChanage($event)"> </ion-input> 
          <span><img src="assets/icon/username.png" alt=""></span>
        </div>
      </ion-row>
      <ion-row>
        <div class="text_get_started">
          <ion-input placeholder="Enter your last name" (ionChange)="lastNameChanage($event)"></ion-input>
          <span>
            <img src="assets/icon/username.png" alt="">
          </span> 
        </div>
      </ion-row>
      <ion-row>
        <div class="text_get_started">
          <ion-input type="email" (ionChange)="emailChanage($event)" placeholder="Enter your email"></ion-input>
          <span><img src="assets/icon/gmail_icon.png" alt=""></span> 
        </div>
      </ion-row>
      <ion-row>
        <div class="text_get_started">
          <ionic-selectable style="width:100% !important" class="max-width-input ion-text-start" fill="solid"
            item-content [(ngModel)]="port" [items]="countries" itemValueField="code" itemTextField="name"
            [canSearch]="true" (onChange)="countryCodeChange($event)">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="true"> {{port.name}} ({{port.code}}) </ng-template>
            <ng-template ionicSelectableValueTemplate let-port="value"> {{port.name}} ({{port.code}}) </ng-template>
            <ng-template ionicSelectablePlaceholderTemplate> Country Code </ng-template>
          </ionic-selectable>
          <span><img src="assets/icon/countries_icon.png" alt=""></span> </div>
      </ion-row>
      <!-- <ion-item>
          <ion-input label="Country Code" label-placement="floating" placeholder="Ex:+91"
            (ionChange)="mobileCodeChanage($event)"></ion-input>
        </ion-item> -->
      <ion-row>
        <div class="text_get_started">
          <ion-input placeholder="Enter your mobile" (ionChange)="mobileChanage($event)"></ion-input>
          <span><img src="assets/icon/mobile_icon.png" alt=""></span> </div>
      </ion-row>
      <ion-row>
        <div class="text_get_started"> 
          <!-- label="Recharge Amount (USD) (Minimum ${{card.min_single_recharge_amount}})" -->
          <ion-input type="number" (ionChange)="firstChargeChanage($event)" placeholder="Enter first recharge amount (USD)"></ion-input>
          <span><img src="assets/icon/recharge_icon.png" alt=""></span> </div> 
      </ion-row>
      <div class="custom-button-container ">
        <ion-button expand="full" shape="round" (click)="apply()" class="applybutton">
          <ion-spinner name="lines"
          *ngIf="isLoading"></ion-spinner>
          {{ isLoading ? '' : 'APPLY' }}</ion-button>
      </div>
    </div>
  </div>
</ion-content>
 
