ion-card {
  border-radius: 12px; 
   width: 100%; background: #000
}

.custom-button-container {
  width: 100%;
  text-align: center;
  padding: 1vh 50px;
}
ion-item { 
	--ion-background-color: #000;
	margin: 10px 0 !important;
}