 

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-align-center app_bar_title" style="width: 100%;">Support </ion-title>
    <ion-buttons slot="end">
      <div style="width: 48px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="support_page">
    <ion-grid>
      <ion-row class="height-container">
        <ion-row class="ion-align-items-center padding-head">
          <ion-col size="12" size-md="6">
            <ion-row class="ion-justify-content-center ion-align-items-center newlogo_w"> <img
                src="assets/image/newlogo.png" alt=""> </ion-row>
          </ion-col>
          <ion-col size="12" size-md="6" class="text_get_started" style="padding: 0;">
            <h2>Support</h2>
            <ion-row style="padding: 10px 0;">
              <label>Full Name</label>
              <ion-input style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
                fill="outline" type="email" placeholder="Enter Full Name" style="--placeholder-color: #bfa56a;">
              </ion-input>
            </ion-row>
            <ion-row>
              <label>Email</label>
              <ion-input style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
                fill="outline" type="email" placeholder="Enter E-Mail" style="--placeholder-color: #bfa56a;">
              </ion-input>
            </ion-row>
            <ion-row>
              <label>Message</label>
              <ion-textarea placeholder="Type your message here..." style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
              fill="outline" type="email"  style="--placeholder-color: #bfa56a;"></ion-textarea>
            
            </ion-row>

            
          </ion-col>
        </ion-row>
        <div class="send_button">
           <ion-button>Send</ion-button>
        </div>
      </ion-row>
    </ion-grid>
  
  </div>
</ion-content>

 