 

<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew" style="background-image: url('assets/image/login_bg_img.png'); background-size: cover; background-position: center;padding: 0px 0 10px;"> 
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title lot="start">
          Support
        </ion-title>
      </ion-toolbar>
    </ion-header>

 
   <div class="support_page">
    <ion-grid>
      <ion-row class="height-container">
        <ion-row class="ion-align-items-center padding-head">
          <ion-col size="12" size-md="6">
            <ion-row class="ion-justify-content-center ion-align-items-center newlogo_w"> <img
                src="assets/image/login_logo.png" alt=""> </ion-row>
          </ion-col>
          <ion-col size="12" size-md="6" class="text_get_started" style="padding: 0;">
           
            <ion-row style="padding: 10px 0;">
              <div class="text_get_started">
              <ion-input style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
                fill="outline" type="email" placeholder="Enter Full Name" style="--placeholder-color: #fff;">
              </ion-input> <span><img src="assets/icon/username.png" alt=""></span></div>
            </ion-row>
            <ion-row>
              <div class="text_get_started">
              <ion-input style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
                fill="outline" type="email" placeholder="Enter E-Mail" style="--placeholder-color: #fff;">
              </ion-input> <span><img src="assets/icon/gmail_icon.png" alt=""></span></div>
            </ion-row>
            <ion-row>
               
              <ion-textarea placeholder="Type your message here..." style="padding: 0px 20px; box-shadow: none;" class="ion-text-start max-width-input"
              fill="outline" type="email"  style="--placeholder-color: #fff;"></ion-textarea>
            
            </ion-row>

            
          </ion-col>
        </ion-row>
        <div class="send_button">
           <ion-button>Send</ion-button>
        </div>
      </ion-row>
    </ion-grid>
  
  </div>
  </div>
</ion-content>

 