<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" class="new_logohome"> <img src="assets/image/newlogo.png" alt="">
      <h2> CARDS</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center" >
  <div class="assets" style="background-image: url('assets/image/home_btmbg.png'); background-repeat: repeat-y;background-size: cover; background-position: center;padding: 0px 0 10px;">
    <div class="ion-padding-horizontal">
      <h2 style="color: var(--ion-color-secondary-contrast); ;font-weight: 500;font-size: 20px;padding: 30px 0 3px 0;margin: 0;">CARD APPLICATION</h2>
      <p *ngIf="!declined" style="color: var(--ion-color-secondary-contrast); ;margin-top: 0;font-size: 12px;font-style: italic;">To apply for a card you must complete your KYC first.</p>
      <p *ngIf="declined" style="color: var(--ion-color-secondary-contrast); ;margin-top: 0;font-size: 12px;font-style: italic;">Your KYC is declined, please reapply KYC then redirect to apply kyc page</p>
    </div>
    <div class="custom-button-container " style=" width: 100%; float: left;">
      <ion-button expand="full" color=" " shape=" " (click)="apply()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">APPLY</ion-button>
    </div>
  </div>
</ion-content>
