<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;">
      CARDS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center" style="--background:white">
    <div class="ion-padding-horizontal">

    <h2 style="color: var(--ion-color-secondary);font-weight: 600;">CARD APPLICATION</h2>
    <p style="color: var(--ion-color-secondary);margin-top: 0;">
      Get a cardaxo card and use it at 44M+ visa enabled merchants globally
    </p>
  </div>
  <div class="total_balance">
    <ion-card class="balance">
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <div style="align-items: center;display: flex;"><ion-icon name="card-outline" style="font-size: 55px;"></ion-icon></div>
        <div style="display: flex;flex-direction: column;align-items: end;">
          <p style="font-size: 10px;margin: 0;">CARD FREE</p>
          <p style="font-weight: 600;margin: 0;">{{'100' | number:'1.1-4'}} USD</p>
        </div>
      </div>
      <p style="margin-bottom: 0;font-weight: 600;">PHYSICAL CARD</p>
      <p style="font-size: 10px;margin: 0;">Spend & AMT withdrawal</p>
      <div>
        <img style="width: 140px;" src="/assets/image/visa.png">
        <img style="width: 140px;position: absolute;bottom: 4px;right: 10px;" src="/assets/image/comming.png">
      </div>
    </ion-card>
  </div>
  <!-- <img src="assets/image/card_apply2.png" alt="" style="max-width:  300px;"> -->


  <div class="custom-button-container ">
    <ion-button expand="full" color="secondary" shape="round" (click)="apply()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px;">APPLY</ion-button>
  </div>

</ion-content>