<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" class="new_logohome"> <img src="assets/image/newlogo.png" alt="">
      <h2> CARDS</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center" >
  <div class="assets" style="background-image: url('assets/image/home_btmbg.png'); background-repeat: repeat-y;background-size: cover; background-position: center;padding: 0px 0 10px;">
    <div class="ion-padding-horizontal">
      <h2 style="color: var(--ion-color-secondary-contrast); ;font-weight: 500;font-size: 20px;padding: 30px 0 3px 0;margin: 0;">CARD APPLICATION</h2>
      <p style="color: var(--ion-color-secondary-contrast); ;margin-top: 0;font-size: 12px;font-style: italic;"> Get a cardaxo card and use it at 44M+ visa enabled merchants globally </p>
    </div>
    <!-- <div class="total_balance">
    <ion-card class="balance">
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <div style="align-items: center;display: flex;"><ion-icon name="card-outline" style="font-size: 55px;"></ion-icon></div>
        <div style="display: flex;flex-direction: column;align-items: end;">
          <p style="font-size: 10px;margin: 0;">CARD FREE</p>
          <p style="font-weight: 600;margin: 0;">{{'100' | number:'1.1-4'}} USD</p>
        </div>
      </div>
      <p style="margin-bottom: 0;font-weight: 600;">PHYSICAL CARD</p>
      <p style="font-size: 10px;margin: 0;">Spend & AMT withdrawal</p>
      <div>
        <img style="width: 140px;" src="/assets/image/visa.png">
        <img style="width: 140px;position: absolute;bottom: 4px;right: 10px;" src="/assets/image/comming.png">
      </div>
    </ion-card>

    

  </div> -->
    <div class="wrapper">
      <div class="cc mastercard ">
        <div class="check_applyicon"><img src="assets/image/check__mark.png"> </div>
        <svg width="295" height="87">
          <path d="M 0 0 C 50 50 250 0 300 87"></path>
        </svg>
        <div class="container">
          <div class="type">Credit Card </div>
          <div class="circuit">
            <div class="logo_card"> <img style="width: 199px !important;opacity: 0.1;" src="/assets/image/newlogo.png"> </div>
            <img style="width: 90px !important;" src="/assets/image/payicon.png"> </div>
        </div>
        <div class="holder">
            <span class="name">Virtual  CARD </span>
          <p style="padding: 0;margin: 0;font-size: 10px;text-align: left;">Spend & AMT withdrawal</p>
          <span class="number">1234 - **** - **** - 3456</span> </div>
          <div style="bottom: 0; width: 78px; position: absolute; right: 0; float: right; text-align: right; background: rgb(79, 55, 5); border-radius: 200px 8px 52px 1px;">
            <p style="color: #fff; font-weight: bold; padding: 2px 3px 6px; margin: 0; font-size: 14px; text-align: right;"><span style="float: left;width: 100%;font-size: 10px;font-weight: normal;color: #fff;text-align: right;">Fee</span> 10USD</p>
          </div>

      </div>
      <div class="cc mastercard">
        <svg width="295" height="87">
          <path d="M 0 0 C 50 50 250 0 300 87"></path>
        </svg>
        <div class="container">
          <div class="type">Credit Card </div>
          <div class="circuit">
            <div class="logo_card"> <img style="width: 199px !important;opacity: 0.1;" src="/assets/image/newlogo.png"> </div>
            <img style="width: 90px !important;" src="/assets/image/payicon.png"> </div>
        </div>
        <div class="holder">
          <div class="comming_icon"><img style="width: 100px; position: absolute; bottom: 34px; right: -60px;" src="/assets/image/comming.png"></div>
          <span class="name">PHYSICAL CARD </span>
          <p style="padding: 0;margin: 0;font-size: 10px;text-align: left;">Prepaid Card</p>
          <span class="number">1234 - **** - **** - 3457</span> </div>
          <div style="bottom: 0; width: 78px; position: absolute; right: 0; float: right; text-align: right; background: rgb(79, 55, 5); border-radius: 200px 8px 52px 1px;">
            <p style="color: #fff; font-weight: bold; padding: 2px 3px 6px; margin: 0; font-size: 14px; text-align: right;"><span style="float: left;width: 100%;font-size: 10px;font-weight: normal;color: #fff;text-align: right;">Fee</span> 100USD</p>
          </div>
      </div> 
    </div>
    
    <!-- <img src="assets/image/card_apply2.png" alt="" style="max-width:  300px;"> -->
    
    <div class="custom-button-container " style=" width: 100%; float: left;">
      <ion-button expand="full" color=" " shape=" " (click)="apply()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">APPLY</ion-button>
    </div>
  </div>
</ion-content>
