

<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew" style="background-image: url('assets/image/card-list_bg.png'); background-size: cover; background-position: center;padding: 0px 0 10px; float: left; width: 100%;"> 
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title lot="start"> 
          Card List
        </ion-title>
      </ion-toolbar>
    </ion-header>
  


  <div class="card_credit_design" *ngIf="isLoading">
    <div class="card_credit_img">
      <img [src]="'assets/image/card_bg1.png'">
      <div class="card_credit_design_text">
        <h2>Prepaid Card <span>Virtual Card</span></h2>
        <div class="visa_logo_incard"><img src="assets/image/visa_newlogo.png"></div>
        <app-skeleton-big-card style="position: absolute;bottom: 17px;left: 25px;width: 84%;"></app-skeleton-big-card>
      </div>
    </div>
  </div>
  <div *ngIf="!( wallet && (wallet.coin?.length ?? 0) > 0) && !isLoading">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 30vh;">
        <ion-col size="8">
          <h4>
            Please enable atleast one block coin.
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="step === 1 && !isLoading">
    <div class="card_credit_design_all">
      <div class="card_credit_design" *ngFor="let data of cardList; let i = index">
        <div class="card_credit_img" (click)="selectCard(i)">
          <img [src]="data.image ? 'https://wallet.cardaxo.com/'+data.image : 'assets/image/card_bg1.png'">
          <div class="card_credit_design_text">
            <!-- <h2>{{data.name}} <span>{{data.card_type === '1'?'Virtual Card':'Physical Card'}}</span></h2>
            <div class="visa_logo_incard"><img src="assets/image/visa_newlogo.png"></div>
            <h6>Available Balance<span>$****</span></h6>
            <h3>**** **** **** **** </h3>
            <h4>Valid Thru **/** </h4>
            <h5>CVV *** </h5> -->
            <div class="div_select">
              <ion-radio-group [(ngModel)]="card">
                <ion-radio [value]="i"></ion-radio>
              </ion-radio-group>
            </div>
          </div>
  
        </div>
        <div class="card_credit_design_button_more">
        <button (click)="selectCard(i);step = 2" *ngIf="data.description">More Details</button></div>
      </div>
    </div>
    <div class="custom-button-container " style=" width: 100%; float: left;" *ngIf="selectedCard?.card_type_id">
      <ion-button expand="full" color=" " shape=" " (click)="apply()" class="applybutton">Next</ion-button>
    </div> 
  </div>
  <div *ngIf="step === 2 && ( wallet && (wallet.coin?.length ?? 0) > 0)">
    <div [innerHtml]="selectedCard.description" class="card_listpageul"></div>
    <div class="custom-button-container " style=" width: 100%; float: left" *ngIf="selectedCard">
      <ion-button expand="full" color=" " shape=" " (click)="step = 1" class="applybutton">Back</ion-button>
    </div>
  </div>
</div>
</ion-content>