<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">
      Card List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="step === 1">
    <div class="wrapper">
      <div class="cc mastercard" *ngFor="let data of cardList" (click)="selectedCard = data.card_type_id">
        <div *ngIf="selectedCard == data.card_type_id" class="check_applyicon"><img src="assets/image/check__mark.png"> </div>
        <svg width="295" height="87">
          <path d="M 0 0 C 50 50 250 0 300 87"></path>
        </svg>
        <div class="container">
          <div class="name">{{data.card_type === '1'?'Virtual Card':'Physical Card'}}</div>
          <div class="circuit">
            <div class="logo_card"> <img style="width: 199px !important;opacity: 0.1;" src="/assets/image/newlogo.png">
            </div>
            <img style="width: 90px !important;" src="/assets/image/payicon.png">
          </div>
        </div>
        <div class="holder">
          <span class="name">{{data.card_sub_type === '1'?'Metal card':'Plastic card'}}</span>
          <p style="padding: 0;margin: 0;font-size: 10px;text-align: left;margin-bottom: 10px;">More details</p>
          <div
            style="bottom: 0; width: 78px; position: absolute; right: 0; float: right; text-align: right; background: rgb(79, 55, 5); border-radius: 200px 8px 52px 1px;">
            <p style="color: #fff; font-weight: bold; padding: 2px 3px 6px; margin: 0; font-size: 14px; text-align: right;">
              <span style="float: left;width: 100%;font-size: 10px;font-weight: normal;color: #fff;text-align: right;">Fee</span>
              {{data.total_card_fee}}USD
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-button-container " style=" width: 100%; float: left;" *ngIf="selectedCard">
      <ion-button expand="full" color=" " shape=" " (click)="apply()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">Next</ion-button>
    </div>
  </div>
  <div *ngIf="step === 2">
    Select Wallet 
    <div *ngIf="wallet && (wallet.coins?.length ?? 0) > 0">
      <ion-card *ngFor="let coin of wallet.coins; let i = index" (click)="selectedCoin = coin">
        <div *ngIf="selectedCoin?.symbol === coin.symbol" class="check_applyicon"><img src="assets/image/check__mark.png"> </div>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-between">
              <ion-row class="ion-align-items-center">
                <ion-col size="auto" style="display: flex;">
                  <img [src]="getIconCoin(coin.main_chain ?? 'btc')" alt="" width="40px" height="40px">
                </ion-col>
                <ion-col class="ion-text-start" size="auto">
                  <ion-card-title style="font-weight: bold;">
                    {{coin.symbol ?? ''}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{ coin.name ?? '' }}
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
              <ion-col size="auto" class="ion-text-end">
                <ion-card-title>
                  {{(coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].total ?? 0 : 0) | number:'0.1-4'}}
                </ion-card-title>
                <ion-card-subtitle>
                  ≈ ${{(coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].inUSD ?? 0 : 0) | number:'0.1-4'}}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <div *ngFor="let coin of wallet.coins; let i = index">
        <ion-card *ngFor="let subCoin of coin.sub_coin; let i = index" (click)="selectedCoin = subCoin">
          <div *ngIf="selectedCoin?.symbol === subCoin.symbol" class="check_applyicon"><img src="assets/image/check__mark.png"> </div>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-between">
                <ion-row class="ion-align-items-center">
                  <ion-col size="auto" style="display: flex;">
                    <img [src]="getIconCoin(subCoin.main_chain ?? 'btc')" alt="" width="40px" height="40px">
                  </ion-col>
                  <ion-col class="ion-text-start" size="auto">
                    <ion-card-title style="font-weight: bold;">
                      {{subCoin.symbol ?? ''}}
                    </ion-card-title>
                    <ion-card-subtitle>
                      {{ subCoin.name ?? '' }}
                    </ion-card-subtitle>
                  </ion-col>
                </ion-row>
                <ion-col size="auto" class="ion-text-end">
                  <ion-card-title>
                    {{(subCoin.transactions && subCoin.transactions.length > 0 ? subCoin.transactions[0].total ?? 0 : 0) | number:'0.1-4'}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    ≈ ${{(subCoin.transactions && subCoin.transactions.length > 0 ? subCoin.transactions[0].inUSD ?? 0 : 0) | number:'0.1-4'}}
                  </ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div *ngIf="selectedCoin" class="custom-button-container " style=" width: 100%; float: left;display: flex;">
      <ion-button expand="full" color=" " shape=" " (click)="step = 1" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">Back</ion-button>
      <ion-button expand="full" color=" " shape=" " (click)="apply2()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">Apply</ion-button>
    </div>
  </div>
</ion-content>