<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">
      Card List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="step === 1">
    <div class="card_credit_design_all">
      <div class="card_credit_design" *ngFor="let data of cardList; let i = index">
        <div class="card_credit_img" (click)="selectCard(i)">
          <img src="assets/image/card_bg1.png">
          <div class="card_credit_design_text">
            <h2>{{data.name}} <span>{{data.card_type === '1'?'Virtual Card':'Physical Card'}}</span></h2>
            <div class="visa_logo_incard"><img src="assets/image/visa_newlogo.png"></div>
            <h6>Available Balance<span>$****</span></h6>
            <h3>**** **** **** **** </h3>
            <h4>Valid Thru **/** </h4>
            <h5>CVV *** </h5>
            <div class="div_select">
              <ion-radio-group [(ngModel)]="card">
                <ion-radio [value]="i"></ion-radio>
              </ion-radio-group>
            </div>
          </div>
  
        </div>
        <div class="card_credit_design_button_more">
        <button (click)="selectCard(i);step = 2">More Details</button></div>
      </div>
    </div>
    <div class="custom-button-container " style=" width: 100%; float: left;" *ngIf="selectedCard?.card_type_id">
      <ion-button expand="full" color=" " shape=" " (click)="apply()" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">Next</ion-button>
    </div>
  </div>
  <div *ngIf="step === 2">
    <div [innerHtml]="selectedCard.description"></div>
    <div class="custom-button-container " style=" width: 100%; float: left" *ngIf="selectedCard">
      <ion-button expand="full" color=" " shape=" " (click)="step = 1" style="font-weight: bold; text-transform: unset;  max-width: 700px; margin: auto; height: 50px; background-color: #b0893a;">Back</ion-button>
    </div>
  </div>
</ion-content>