.wrapper {
    width: 100%;
    float: left;

    .logo_card {
        width: 100%;
        float: left;
        position: absolute;
        left: 0;
    }


    .cc {
        position: relative;
        font-family: "Maven Pro", sans-serif;
        font-size: 16px;
        color: white;
        width: 90%;
        height: 190px;
        border-radius: 18px;
        box-shadow: 0px 0px 18px -1px #2E2E2E;
        margin: 10px auto 20px;


        &.mastercard {
            background-image: linear-gradient(to top right, #020202, #040B2E);
            border: 2px solid #e3bb698f;

        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            background-image: linear-gradient(to top, transparent, #FFFFFF);
            opacity: 30%;
            left: 0;
            top: 0;
        }

        svg {
            position: absolute;
            top: 77px;
            width: 100%;
            float: left;
            left: 10px;
            right: 0;
            opacity: 0.09;


            path {
                fill: transparent;
                stroke: #FFFFFF;
                stroke-width: 2px;
                stroke-linecap: round;
            }
        }

        .container {
            position: absolute;
            top: 25px;
            left: 25px;
            right: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .holder {
            position: absolute;
            bottom: 0px;
            left: 25px;
            width: 92%;

            span {
                display: block;

                &.name {
                    padding: 0;
                    margin: 0;
                    font-size: 10px;
                    text-align: left;
                    color: #fff;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &.number {
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
.check_applyicon {
    width: 38px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    text-align: right;
    background: rgb(79, 55, 5);
    border-radius: 0px 18px 3px 26px;
}

.check_applyicon img {
    width: 21px;
    padding: 4px 7px 0 0;
}

.custom-button-container {
    width: 100%;
    text-align: center;
    padding: 4vh 50px;
  }

  ion-card {
    border-radius: 10px;
    padding: 2px;
    background: #0000006b;
    color: var(--ion-color-secondary-contrast);
    border: 1px solid #917a48;

    .manage_button {
      background: var(--ion-color-primary);
    }

    .add_img {
      width: 100%;
      float: left;
    }

    .add_img img {
      width: 100%;
      float: left;
    }

    ion-card-content {
      padding: 0px;
    }

    ion-card-title {
      font-size: 16px;
      color: var(--ion-color-secondary-contrast);
    }

    ion-card-subtitle {
      color: var(--ion-color-secondary-contrast);
    }


  }


  .card_credit_design_all{ width: 100%; float: left; padding: 10px;}
.card_credit_design {
  width: 100%;
  float: left;
  padding: 15px 0;
  border: 2px solid #664f23;
  margin: 10px 0;
}

.card_credit_img {
  position: relative;
  text-align: center;
}

.card_credit_img img {
  width: 349px;
  height: 200px;
  text-align: center;
  margin: auto;
}

.card_credit_design_text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 349px;
  height: 200px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.card_credit_design_text h2 {
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;

  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: 0.3px 0px 0px rgba(220, 220, 220, 0.5), -0.1px 0.68px 0.2px rgb(220, 220, 220), -1px -0.3px 0.5px rgba(0, 0, 0, 0.5), 1px 1px 0.5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));
  width: 100%;
  padding: 5px 0 0 0;
  margin: 0;
  text-transform: uppercase;
}

.card_credit_design_text h2 span {
  font-size: 9px;
  text-align: left;
  margin: auto;
  display: block;
  width: 100%;
}

.card_credit_design_text h3 {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0 0 0px 0;
  font-size: 20px;
  font-family: "OCR A Std", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: .3px 0px 0px rgb(220 220 220 / 50%), -.1px .68px .2px rgb(220 220 220 / 100%), -1px -.3px .5px rgb(0 0 0 / 50%), 1px 1px .5px rgb(0 0 0 / 40%);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));
}

.card_credit_design_text h4 {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: "OCR A Std", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: .3px 0px 0px rgb(220 220 220 / 50%), -.1px .68px .2px rgb(220 220 220 / 100%), -1px -.3px .5px rgb(0 0 0 / 50%), 1px 1px .5px rgb(0 0 0 / 40%);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));
  float: left;
  width: 50%;
  padding: 5px 0 0 0;
  margin: 0;
  text-transform: uppercase;
}

.card_credit_design_text h5 {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: "OCR A Std", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: .3px 0px 0px rgb(220 220 220 / 50%), -.1px .68px .2px rgb(220 220 220 / 100%), -1px -.3px .5px rgb(0 0 0 / 50%), 1px 1px .5px rgb(0 0 0 / 40%);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));

  float: left;
  width: 50%;
  padding: 5px 0 0 0;
  margin: 0;
  text-transform: uppercase;
}

.visa_logo_incard {
  width: auto;
  float: right;
  position: absolute;
  right: 16px;
  top: 16px;
}

.visa_logo_incard img {
  width: 48px !important;
  height: auto !important;
}

.card_credit_design_text h6 {
  text-align: right;
  font-size: 12px;
  font-family: "OCR A Std", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: 0.3px 0px 0px rgba(220, 220, 220, 0.5), -0.1px 0.68px 0.2px rgb(220, 220, 220), -1px -0.3px 0.5px rgba(0, 0, 0, 0.5), 1px 1px 0.5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));
  float: right;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  padding: 38px 0 31px 0;
  ;
}

.card_credit_design_text h6 span {
  margin: 0;
  width: 100%;
  text-align: right;
  padding: 0 0 0px 0;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  text-rendering: geometricprecision;
  color: rgb(185, 191, 196);
  text-shadow: 0.3px 0px 0px rgba(220, 220, 220, 0.5), -0.1px 0.68px 0.2px rgb(220, 220, 220), -1px -0.3px 0.5px rgba(0, 0, 0, 0.5), 1px 1px 0.5px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.48));
  float: right;
}

ion-radio {
  height: 50px;
  background: #3f3219;
  width: 50px;
  text-align: center;
  padding: 0 0 0 22px;
  margin: 0 0 0 0;
  border-radius: 52px 0 9px 0;
  font-size: 20px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.radio-inner {
  transform: rotate(45deg);
  border-width: 0px 0.125rem 0.125rem 0px;
  border-style: solid;
  height: 24px;
  width: 10px;
  border-color: rgb(255, 255, 255);
}
ion-radio::shadow .radio-inner {
  width: 24px;
  height: 24px;
}
.native-wrapper .radio-icon {
	width: 1.538rem;
	height: 2.5rem;
}

.card_credit_design_button_more {
width: 100%; float: left;
  text-align: center;
}
.card_credit_design button {
  color: #fff;
  margin: 12px;
  background: #b0893a;
  border-radius: 50px;
  padding: 11px 20px;
  text-align: center;
}
.div_select {
  position: absolute;
  right: 0;
  bottom: -3px;
}

item-native {
  background: none;
}

.card_next_button {
	width: 100%;
	float: left;
	padding: 10px 20px;
}
.card_next_button button{
background: #b0893a;
  padding: 13px 20px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  border-radius: 0px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;}

  .card_text_listpage {
    width: 100%;
    float: left;
    padding: 10px;
  }
  .card_text_listpage p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
  }
  
.dytxt {
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color:#fff
  }
  25% {
    color:#b99652
  }
  50% {
    color:#dbc28d
  }
  75% {
    color:#3e3a2f
  }
  to {
    color:#fff
  }
}