ion-row {
  width: 100%;
}

.height-container {
  height: 60vh;
}

.max-width-input {
  max-width: 400px;
}


.image-width {
  max-width: 400px;
}

.padding-head {
  padding-left: 10px;
  padding-right: 10px;
}

ion-col{
  padding: 15px;
}