ion-tab-bar {
  margin: 0;
  border-radius: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
}
 
ion-tab-button{
  background: var(--ion-color-secondary);padding: 10px 0 0;
}
ion-tab-button {
	font-size: 13px;
	color: #fff;
	padding: 7px 0 0;
	text-align: center;
	margin: auto;height: 50px;text-transform: uppercase;

}
ion-tab-button img {
	width: 21px;
	text-align: center; padding: 0 0 3px 0;
}

@media (min-width: 768px) {
  ion-tab-bar {
    margin: 0px 0px;
    border-radius: 0px;
    --ion-tab-bar-position: top;
  }

  .sidebar-tab-bar {
    display: none;
  }


}