<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-align-center app_bar_title" style="width: 100%;">Send {{cryptoName}}</ion-title>
    <ion-buttons slot="end">
      <div style="width: 48px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row class="ion-justify-content-center ion-align-items-center logo_new">
          <img src="assets/image/newlogo.png" alt=""  >
          <!-- <h6 style="font-weight: 400; font-size: 30px; ">CARDAXO</h6> -->
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
<div class="form_adress">
<div class="one_form">
  <ion-item>
    <ion-input type="text" placeholder="Enter or paste the address" [(ngModel)]="fromAddress"
      (ionChange)="addressChanage($event)"></ion-input>
  </ion-item>
</div>
<div class="one_form">
  <ion-item>
    <ion-input type="number" placeholder="Enter amount" (ionChange)="amountChanage($event)"></ion-input>
  </ion-item>
  Min Withdraw amount {{coin_master?.min_withdraw_amount}} {{cryptoName}}<br/>
  Withdraw Fee {{coin_master?.withdraw_fee}} %<br/>
  Gas Fee {{coin_master?.gas_fee}} %<br/>
</div>

<ion-row>
  <ion-col class="ion-text-center">
    <div class="paste_scan_button">
    <a href="#" (click)="pasteText($event)">
      <p expand="full">Paste</p>
    </a>
    </div>
  </ion-col>
  <!-- <ion-col class="divider-col" size="auto">
    <div class="divider"></div>
  </ion-col> -->
  <ion-col class="ion-text-center">
    <div class="paste_scan_button">
    <a href="#" (click)="scanText($event)">
      <p expand="full">Scan</p>
    </a>
  </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-text-center">
    <div class="send_button">
    <a href="#" (click)="transfer($event)">
      <p><ion-spinner name="lines" *ngIf="isLoading"></ion-spinner>{{ isLoading ? '' :
        'Send' }}</p>
    </a>
  </div>
  </ion-col>
</ion-row>
</div>


      
        </ion-row>

      </ion-col>


    </ion-row>
  </ion-grid>



</ion-content>