ion-row {
  width: 100%;
}

.newlogo_w {
	border: 2px solid #d7bd87;
	height: 280px;
	border-radius: 50px;
	width: 280px !important;
 margin: 34% auto 0;
}
.newlogo_w img{ width: 280px; height: auto;}
.height-container {
  height: 60vh;
}
.text_get_started h2 {
	color: #fff;
	text-transform: uppercase;
	padding: 40px 0 0px;
	text-align: left;
	font-size: 20px; position: relative;margin-bottom: 30px;
}
.text_get_started h2::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.sc-ion-input-md-h:not(.legacy-input) {
	min-height: 48px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border: 1px solid #bfa56a;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.app_bar_title { 
	font-size: 12px;
	text-align: left;
}

.max-width-input {
  max-width: 400px;
}



.image-width {
  max-width: 400px;
}

.padding-head {
  padding-left: 10px;
  padding-right: 10px;
}

ion-col{
  padding: 15px;
}