<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew" style="background-image: url('assets/image/login_bg_img.png'); background-size: cover; background-position: center;padding: 0px 0 10px;"> 
 
    
 
  <ion-grid>
    <ion-row class="ion-justify-content-start height-container">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="6" style="align-items: end !important;">
          <ion-row class="ion-justify-content-center ion-align-items-center newlogo_w">
            <img src="assets/image/card_splash.png" alt="" >
            <!-- <h6 style="font-weight: 400; font-size: 30px; ">CARDAXO</h6> -->
          </ion-row> 
          <div class="text_get_started">
          <h1 style="font-weight: bold;">Welcome to <br> CARDAXO</h1>
          <p class="limited-width">Our gateway to seamless <b class="dytxt">Crypto</b> payments and secure wallets. </p></div>
        </ion-col> 
        <!-- <ion-col size="12" size-md="6">
          <img src="assets/image/NFT_4.png" alt="" style="max-width: 300px;" width="80%">
        </ion-col> -->
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center" style="align-items: end !important;
      padding-bottom: 15px;">
        <ion-col style="padding: 0 15px;--ion-background-color: #c4a051;">
          <app-primary-button label="Get Started" (click)="getStarted()" class="custom-primary-button "></app-primary-button>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>

 </div>
</ion-content>