.information {
  ion-card {
    background: linear-gradient(to right bottom, #a460f8, #4c48ff);
    border-radius: 12px;
  }
}

.new_logohome img {
  width: 50px;
  border: 1.5px solid #e3bb69;
  height: 50px;
  border-radius: 50px;
  padding: 3px;
  float: left;
}
.new_logohome h2 { color: var(--ion-color-secondary-contrast);
	float: left;
	vertical-align: top;
	padding: 13px 0 0 7px;
	margin: 0;  
	font-size: 20px;
	font-weight: 500;
}

.assets {
  ion-card {
    border-radius: 10px;
    padding: 8px;



    ion-card-content {
      padding: 0px;
    }

    ion-card-title {
      font-size: 16px;
    }


  }



}

.head_section {
  display: flex;
  justify-content: space-between;
  padding: 0vh 2vh 0vh 2vh;

  h4 {
    font-weight: bold;
  }
}



.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-number {
  font-size: 1.75rem;
}

p {
  margin: 0;
  padding: 0;
}

img {
  height: 45px;
}

.front {
  justify-content: space-between;
}

.back {
  justify-content: flex-end;
  align-items: flex-end;
}

.front,
.back {
  width: 100%;
  height: 220px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  display: block;
  width: fit-content;
}



.custom-button-container {
  width: 100%;
  text-align: center;
  padding: 4vh 50px;
}

.new_logohome img {
  width: 40px;
  border: 1.5px solid #e3bb69;
  height: 40px;
  border-radius: 50px;
  padding: 3px;
  float: left;
}
.check_applyicon {
  width: 38px;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  text-align: right;
  background: rgb(79, 55, 5);
  border-radius: 0px 18px 3px 26px;
}

.check_applyicon img {
  width: 21px;
  padding: 4px 7px 0 0;
}
.new_logohome h2 { color: var(--ion-color-secondary-contrast);
	float: left;
	vertical-align: top;
	padding: 8px 0 0 7px;
	margin: 0;  
	font-size: 20px;
	font-weight: 500;
}
.total_balance {
  padding: 0px 10px;
  border: 2px solid rgba(176, 137, 58, 0.6);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
 
 
  ion-card {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    color: var(--ion-color-primary);
    margin: 10px 5px;
    background: var(--ion-color-secondary);
  }

  h5{
    margin: 10px 0 0; color: var(--ion-color-secondary-contrast);
  }

  ion-col{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  ion-icon {
    font-size: 3vh;
  }

  .balance{
    text-align: left;
    padding:10px;
    color: var(--ion-color-primary);
    p{
      display: flex;
      align-items: center; color: var(--ion-color-secondary-contrast);
    }
    ion-icon{
      margin-right: 10px;
    }
  }

  h5 {
    font-size: 12px;
    padding: 0px !important; color: var(--ion-color-secondary-contrast);
  }

  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: -10px;
  }
}









.wrapper {
  width: 100%; float: left; 
  .logo_card{ width: 100%;
    float: left;
    position: absolute;
    left: 0;}
.check_applyicon{
  

}

.head_section{ width: 100%; float: left;}
.head_section h4{ width: 100%; float: left;} 
.assets ion-card {
	border-radius: 10px;
	padding: 0px;
	background: rgba(0, 0, 0, 0.4196078431);
	color: var(--ion-color-secondary-contrast);
	border: 1px solid #917a48;
}


  .cc {
    position: relative;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    color: white;
    width: 90%;
    height: 190px;
    border-radius: 18px;
    box-shadow: 0px 0px 18px -1px #2E2E2E;
    margin: 10px auto 20px;
    
    
    &.mastercard  {
        background-image: linear-gradient(to top right, #020202, #040B2E);
        border: 2px solid #e3bb698f;
      
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background-image: linear-gradient(to top, transparent, #FFFFFF);
      opacity: 30%; left: 0;
    }
   
    svg {
      position: absolute;
  top: 77px;
  width: 100%;
  float: left;
  left: 10px;
  right: 0;
  opacity: 0.09;

      
      path {
        fill: transparent;
        stroke: #FFFFFF;
        stroke-width: 2px;
        stroke-linecap: round;
      }
    }
    
    .container {
      position: absolute;
      top: 25px;
      left: 25px;
      right: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .holder {
      position: absolute;
      bottom: 17px;
      left: 25px;
     
      span {
        display: block;
        
        &.name { 
          padding: 0;margin: 0;font-size: 10px;text-align: left; color: #fff; font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
        }
        
        &.number {
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }
  }
}