<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" class="new_logohome"> <img src="assets/image/newlogo.png" alt="">
      <h2> WALLET</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cards/card-list"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="information">
    <div *ngIf="!isLoading && !( cardDetails && cardDetails.encoded_card_detail)">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 30vh;">
          <ion-col size="8">
            <h4> The card isn't active yet.
              Please, <a href="#" (click)="retry($event)">retry later.</a> </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card_credit_design" *ngIf="isLoading">
      <div class="card_credit_img">
        <img [src]="cardDetails?.card_detail?.image ? 'https://wallet.cardaxo.com/'+cardDetails?.card_detail?.image : 'assets/image/card_bg1.png'">
        <div class="card_credit_design_text">
          <h2>Prepaid Card <span>Virtual Card</span></h2>
          <div class="visa_logo_incard"><img src="assets/image/visa_newlogo.png"></div>
          <app-skeleton-big-card style="position: absolute;bottom: 17px;left: 25px;width: 84%;"></app-skeleton-big-card>
        </div>
      </div>
    </div>
    <!-- <div class="wrapper" *ngIf="isLoading">
      <div class="cc mastercard "> 
        <svg width="295" height="87">
          <path d="M 0 0 C 50 50 250 0 300 87"></path>
        </svg>
        <div class="container">
          <div class="type">Prepaid Card</div>
          <div class="circuit">
            <div class="logo_card"> <img style="width: 199px !important;opacity: 0.1;" src="/assets/image/newlogo.png"> </div>
            <img style="width: 90px !important; height: auto;" src="/assets/image/payicon.png"> </div>
        </div>
        <app-skeleton-big-card style="position: absolute;bottom: 17px;left: 25px;width: 84%;"></app-skeleton-big-card>
      </div>
    </div> -->
    <div class="card_credit_design" *ngIf="!isLoading && cardDetails && cardDetails.encoded_card_detail">
      <div class="card_credit_img">
        <img [src]="cardDetails?.card_detail?.image ? 'https://wallet.cardaxo.com/'+cardDetails?.card_detail?.image : 'assets/image/card_bg1.png'">
        <div class="card_credit_design_text">
          <h2>Prepaid Card <span>Virtual Card</span></h2>
          <div class="visa_logo_incard"><img src="assets/image/visa_newlogo.png"></div>
          <h6>Available Balance<span>${{total}}</span></h6>
          <h3>{{cardNumber}}</h3>
          <h4>Valid Thru {{expire}} </h4>
          <h5>CVV {{cvv}} </h5>
        </div>
      </div>
    </div>
    <!-- <div class="wrapper" *ngIf="!isLoading && cardDetails && cardDetails.encoded_card_detail">
      <div class="cc mastercard "> 
        <svg width="295" height="87">
          <path d="M 0 0 C 50 50 250 0 300 87"></path>
        </svg>
        <div class="container">
          <div class="type">Prepaid Card</div>
          <div class="circuit">
            <div class="logo_card"> <img style="width: 199px !important;opacity: 0.1;" src="/assets/image/newlogo.png"> </div>
            <img style="width: 90px !important; height: auto;" src="/assets/image/payicon.png"> </div>
        </div>
        <div class="holder"> <span class="name">Virtual  CARD </span>
          <p style="padding: 0;margin: 0;font-size: 10px;text-align: left;">Spend & AMT withdrawal</p>
          <div class="number-container">
            <span class="number" *ngFor="let numberChunk of splitNumber(cardNumber)">{{ numberChunk }}</span>
          </div>
          <p style="padding: 0;margin: 0;font-size: 10px;text-align: left;">CVV:{{cvv}} Expires : {{expire}}</p>
        </div>
        <div style="bottom: 0; width: 78px; position: absolute; right: 0; float: right; text-align: right; background: rgb(79, 55, 5); border-radius: 200px 8px 52px 1px;">
          <p style="color: #fff; font-weight: bold; padding: 2px 10px 6px; margin: 0; font-size: 16px; text-align: right;"><span style="float: left;width: 100%;font-size: 10px;font-weight: normal;color: #fff;text-align: right;">USD</span>{{total | number:'1.1-4'}}</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="assets">
    <div class="head_section">
      <h4 > Transactions </h4>
    </div>
    
    <div *ngIf="isLoading">
      <ion-card *ngFor="let i of [].constructor(10);">
        <ion-card-content>
          <app-skeleton-card></app-skeleton-card>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!isLoading && !( cardDetails && bankTransactions.length > 0)">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 30vh;">
          <ion-col size="8">
            <h4> There is no Transaction. </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="!isLoading && cardDetails && bankTransactions.length > 0">
      <ion-card *ngFor="let bankTransaction of bankTransactions; let i = index" (click)="toggleDetails(i)">
        <ion-card-content>
          <ion-item [lines]="showDetails === i ? 'full' : 'none'">
            <ion-label>Transaction ID</ion-label>
            <ion-label slot="end">{{ bankTransaction.tx_id }}
              <ion-icon
                [name]="showDetails === i ? 'caret-up-outline': 'caret-down-outline'"
                style="padding-left: 10px;"></ion-icon>
            </ion-label>
          </ion-item>
          <ion-list lines="none" *ngIf="showDetails === i">
            <ion-item *ngIf="bankTransaction.credit">
              <ion-label>Credit</ion-label>
              <ion-label slot="end">{{ bankTransaction.credit | number:'1.1-4'}} {{
                bankTransaction.tx_currency === 'thb' ? 'usst' :bankTransaction.tx_currency }}</ion-label>
            </ion-item>
            <ion-item *ngIf="bankTransaction.debit">
              <ion-label>Debit</ion-label>
              <ion-label slot="end">{{ bankTransaction.debit | number:'1.1-4'}} {{
                bankTransaction.tx_currency === 'thb' ? 'usst' :bankTransaction.tx_currency}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Amount</ion-label>
              <ion-label slot="end">{{ bankTransaction.tx_amount | number:'1.1-4'}} {{ bankTransaction.tx_currency
                }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>fee</ion-label>
              <ion-label slot="end">{{ bankTransaction.fee | number:'1.1-4'}} {{ bankTransaction.tx_currency
                }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Type</ion-label>
              <ion-label slot="end">{{ bankTransaction.type === 2 ? 'Recharge' : 'Debit' }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Transaction State</ion-label>
              <ion-label slot="end">{{ bankTransaction.status === 0 ? 'In operation' : bankTransaction.status === 1 ?
                'Success' : 'Fail' }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Transaction Date</ion-label>
              <ion-label slot="end">{{ (+bankTransaction.transaction_date!) * 1000 | date: 'medium' }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>MC Trade no.</ion-label>
              <ion-label slot="end">{{ bankTransaction.mc_trade_no }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
