.information {
  ion-card {
    background: linear-gradient(to right bottom, #a460f8, #4c48ff);
    border-radius: 12px;
  }
}


.assets {
  ion-card {
    border-radius: 10px;
    padding: 8px;



    ion-card-content {
      padding: 0px;
    }

    ion-card-title {
      font-size: 16px;
    }


  }



}

.head_section {
  display: flex;
  justify-content: space-between;
  padding: 0vh 2vh 0vh 2vh;

  h4 {
    font-weight: bold;
  }
}



.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-number {
  font-size: 1.75rem;
}

p {
  margin: 0;
  padding: 0;
}

img {
  height: 45px;
}

.front {
  justify-content: space-between;
}

.back {
  justify-content: flex-end;
  align-items: flex-end;
}

.front,
.back {
  width: 100%;
  height: 220px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  display: block;
  width: fit-content;
}