<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew" style="background-image: url('assets/image/login_bg_img.png'); background-size: cover; background-position: center;padding: 0px 0 10px; float: left; width: 100%;"> 
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title lot="start">
          Profile
        </ion-title>
      </ion-toolbar>
    </ion-header>
 
  
  <div class="profile_page">
    <div class="profile_info">
      <ion-row>
        <ion-col size="4"><strong>
            <p>Name</p>
          </strong> </ion-col>
        <ion-col size="8"><strong>
            <p>{{user?.card?.first_name}} {{user?.card?.last_name}}</p>
          </strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"><strong>
            <p>Email </p>
          </strong> </ion-col>
        <ion-col size="8"><strong>
            <p>{{account}}</p>
          </strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"><strong>
            <p>Mobile No. </p>
          </strong> </ion-col>
        <ion-col size="8"><strong>
            <p>{{user?.card?.mobile}}</p>
          </strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"><strong>
            <p>KYC </p>
          </strong> </ion-col>
        <ion-col size="8"><strong>
            <p>{{user?.user_kyc?.user_kyc_details?.user_kyc_status  ==  'accepted' ? 'Yes' : 'No'}}</p>
          </strong></ion-col>
      </ion-row>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="padding: 5px 15px; width: 100%" id="logout-alert">
          <ion-button color="danger" expand="full" style="width: 100%">LOGOUT</ion-button>
        </ion-col>
        <ion-col size="12" style="padding: 5px 15px; width: 100%" id="delete-alert">
          <ion-button color="danger" fill="outline" style="width: 100%">DELETE ACCOUNT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  </div>
</ion-content>