 
ion-row {
    width: 100%;
  }
   
  
  ion-toolbar {
    background: none !important;
    --background: transparent;
  }
  .header-md{ box-shadow:none;} 
  ion-back-button {
      background: #ffffff40;
      border-radius: 50px;
  }
  ion-title {
    text-align: left;
    margin-left: 0;
    font-size: 20px;
  }
.about_page {
	padding: 0px 10px;
	width: 100%;
	float: left;text-align: left;
}
.about_page h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	float: left;
	padding: 20px 0 10px;
	margin: 0;
}
.about_page h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    float: left;
    padding: 40px 0 10px;
    margin: 0;
}
.about_page p {
    font-size: 16px;
    color: #fff;
    width: 100%;
    float: left; text-align: left !important;
    padding: 0 0 3px;
    margin: 0;
    line-height: 25px;
}