<ion-header [translucent]="true" style="--background: #fff">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" class="new_logohome">
      <h2> Refer and Earn</h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="gift-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="candy_bx_page">
  <div class="candy_bx_balance">
    <ion-row>
      <ion-col size="5">
        <img src="assets/image/candy_logo.png">
      </ion-col>
      <ion-col size="7">
        <h2>Candy Balance</h2>
        <h3>2500 <span>($10.50)</span></h3>
        <div class="history_button">
        <span>History</span></div>
      </ion-col>
    </ion-row>

  </div>
  <div class="refer_and_earn">
    <h2> Refer and Earn </h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
  <div class="candy_history">
    <div class="withdrawable_bx">
      <h2>  Candy history  </h2>
      <ion-row>
        <ion-col size="4"><strong>
            <p>Task  </p>
          </strong></ion-col>
        <ion-col size="4"><strong>
            <p>Status</p>
          </strong></ion-col>
        <ion-col size="4"><strong>
            <p>Candy</p>
          </strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">  
          <p>KYC complete</p>
        </ion-col>
        <ion-col size="4">
          <p>Approval</p>
        </ion-col>
        <ion-col size="4">
          <p>5000</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">       
          <p>REF. aviraj@gmail.com</p>
        </ion-col>
        <ion-col size="4">
          <p>KYC pending </p>
        </ion-col>
        <ion-col size="4">
          <p>2500</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"> 
          <p>avi@gmail.com</p>
        </ion-col>
        <ion-col size="4">
          <p>2500</p>
        </ion-col>
        <ion-col size="4">
          <p>2500</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="how_to_earn">
    <h2>How to Earn</h2>
<ul>
  <li>
    <h2>Step 1 : Share Your Referral Code</h2>
    <p>Send your unique referral code to friends or potential users.</p>
  </li>
  <li>
    <h2>Step 2 : User Registration</h2>
    <p> The user registers on the platform using your referral code.</p>
  </li>
  <li>
    <h2>Step 3 : Complete KYC</h2>
    <p>The new user completes their Know Your Customer (KYC) verification.</p>
  </li>
</ul>
  </div>
<div class="rewards_bx">
<h2>Rewards</h2>
<ul>
<li>You receive 2500 Candy.</li>
<li> The user receives 5000 Candy.</li></ul>
</div>
   
    
   
   
 
    <div class="invited_friends_button">
      <ion-row class="ion-justify-content-center ion-align-items-center" style="align-items: end !important;">
        <ion-col style="padding: 0 15px;--ion-background-color: #c4a051;">
          <app-primary-button label="Invite" (click)="openModal()"
            class="custom-primary-button "></app-primary-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>