 


.candy_bx_page {
  width: 100%;
  float: left;
  padding: 10px;
}
 .candy_bx_balance{ width: 100%;
  float: left;
  padding: 0px 6px;
  background: #1f1f1f;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #b0893a8c;}
 .candy_bx_balance img{ width: 100%; float: left;}
 .candy_bx_balance h2 {
	font-size: 20px;
  text-align: right;
  width: 100%;
  color: #fff;
  padding: 17px 0 6px 0;
  margin: 0;
  text-transform: uppercase;
}
 .candy_bx_balance h3 {
	color: #fff;
  float: right;
  padding: 0;
  width: 100%;
  text-align: right;
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
.candy_bx_balance h3 span {
	font-size: 13px;
	color: #fff;
}
.history_button{ width: 100%; float: left;}
.history_button span {
  color: #fff;
  float: right;
  padding: 2px 11px;
  text-align: right;
  font-size: 12px;
  margin: 0; 
  background: #b0893a;
  border-radius: 50px;
  margin-top: 6px;
}

.refer_and_earn {
	background: rgb(145, 120, 70);
  background: linear-gradient(101deg, rgb(176, 137, 58) 0%, rgb(176, 137, 58) 82%);
	float: left;
	width: 100%;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
}.refer_and_earn h2 {
	padding: 0;
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}.refer_and_earn p {
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	padding: 0;
	margin: 0;
}
.withdrawable_bx{ width: 100%; float: left; padding: 20px 0;}

.withdrawable_bx p {
  font-size: 11px;
  text-align: left;
  float: left;
  color: #fff;
  padding: 3px 3px;
  margin: 0;
}
.withdrawable_bx h2 {
	padding: 0 0 10px;
  margin: 0;text-align: center; 
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.withdrawable_bx ion-col {
  border: 1px solid #fff;
}
ion-title h2 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
.invited_friends_button{ width: 100%; float: left;padding: 30px 0 0;}

.how_to_earn h2 {
	padding: 0 0 10px;
  margin: 0;
  color: #fff; text-align: center; 
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.how_to_earn{ width: 100%; float: left;}
.how_to_earn ul{ margin: 0; padding: 0;}
.how_to_earn ul li{ width: 100%;
  margin: 0 0 15px;
  display: block;
  float: left;
  background: #1f1f1f;
  border-radius: 10px;
  border: 1px solid rgba(176, 137, 58, 0.5490196078);
  color: #fff;}
.how_to_earn ul li h2{width: 100%;
  display: block;font-weight: 500;text-align: left;
  background: rgb(145, 120, 70);
  background: linear-gradient(101deg, rgb(176, 137, 58) 0%, rgb(176, 137, 58) 82%);
  color: #fff;
  font-size: 16px;
  padding: 7px;
  border-radius: 6px 6px 0 0;
  margin: 0;}
  .how_to_earn ul li p {
    padding:8px 10px 10px;
    margin: 0;
    font-size: 12px;
    text-align: left;
    color: #fff;
  }
 
  .rewards_bx{ width: 100%;
    float: left; 
    background: #1f1f1f;
    margin-bottom: 20px;padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #b0893a8c;}

    .rewards_bx h2 {padding: 0 0 3px;
      margin: 0;
      color: #fff;
      text-align: left;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .rewards_bx ul{ margin: 0; padding: 0;}
.rewards_bx ul li{width: 100%;
  display: block;
  float: left;
  padding: 0px 0px 0;
  margin: 0;
  font-size: 15px;
  text-align: left;
  color: #fff;
  text-align: left
  }