<ion-content [fullscreen]="true" class="ion-text-center ">
  <div class="login_bgnew"
    style="background-image: url('assets/image/candy_bg.jpg'); background-size: cover; background-position: center; padding: 0px 0 10px;float: left;width: 100%;">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title lot="start"> Refer and Earn </ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="gift-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <div class="candy_bx_page">
      <div class="candy_card">
        <ion-row>
          <ion-col size="6">
            <div class="candy_logo">
              <img src="assets/image/candy_logo.png">
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="current_price">
              <h2>Candy Price</h2>
              <h3>$10.10</h3>
              <h4><span> <img src="assets/icon/up_icon.png"> </span> 3.25% </h4>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="current_balance">
              <h2> Candy Balance</h2>
              <h3><img src="assets/icon/current_balance_iocn.png"> 5000</h3>
            </div>
            <div class="current_balance">
              <h2>Amount in usd</h2>
              <h3>$10.10</h3>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="current_balance">
              <ion-button style="font-size: 12px;">View History</ion-button>
            </div>

          </ion-col>

        </ion-row>

      </div>

     
<div class="candy_network">
  <h2>candy network</h2>
   <!-- silder --- -->
<div class="silder_bx_one">
<div class="network_logo">
  <img src="assets/image/candy_logo.png">
</div>
<div class="network_bxtext">
<h3>candy shopee</h3>
<p>Lorem Ipsum is simply dummy text of the printing and 
  typesetting industry. Lorem Ipsum has  been the  indu
  stry's standard dummy text ever since the 1500s, when 
  an unknown printer took a galley of type  and  scramb
  led it to make a type specimen book.</p>
  <div class="explore_new">
  <ion-button>Explore Now</ion-button></div>
</div>
</div>
</div>

      
  <!-- <div class="candy_bx_balance">
    <ion-row>
      <ion-col size="5">
        <img src="assets/image/candy_logo.png">
      </ion-col>
      <ion-col size="7">
        <h2>Candy Balance</h2>
        <h3>{{candy?.total_candy}} <span>(${{candy?.total_candy_usd}})</span></h3>
        <div class="history_button">
        <span>History</span></div>
      </ion-col>
    </ion-row>

  </div> -->
  <!-- <div class="refer_and_earn">
    <h2> Refer and Earn </h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
  <div class="candy_history">
    <div class="withdrawable_bx">
      <h2>  Candy history  </h2>
      <ion-row>
        <ion-col size="6"><strong>
            <p>Task  </p>
          </strong></ion-col>
        <ion-col size="4"><strong>
            <p>Status</p>
          </strong></ion-col>
        <ion-col size="2"><strong>
            <p>Candy</p>
          </strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let data of candy?.result">
        <ion-col size="6">  
          <p>{{data.task}}</p>
        </ion-col>
        <ion-col size="4">
          <p>{{data.status}}</p>
        </ion-col>
        <ion-col size="2">
          <p>{{data.candy}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!candy?.result.length">
        <ion-col><p style="width: -webkit-fill-available;text-align: center;">No history</p></ion-col>
      </ion-row>
    </div>
  </div>

  <div class="how_to_earn">
    <h2>How to Earn</h2>
<ul>
  <li>
    <h2>Step 1 : Share Your Referral Code</h2>
    <p>Send your unique referral code to friends or potential users.</p>
  </li>
  <li>
    <h2>Step 2 : User Registration</h2>
    <p> The user registers on the platform using your referral code.</p>
  </li>
  <li>
    <h2>Step 3 : Complete KYC</h2>
    <p>The new user completes their Know Your Customer (KYC) verification.</p>
  </li>
</ul>
  </div>
<div class="rewards_bx">
<h2>Rewards</h2>
<ul>
<li>You receive 2500 Candy.</li>
<li> The user receives 5000 Candy.</li></ul>
</div> -->
    <div class="invited_friends_button">
      <ion-row class="ion-justify-content-center ion-align-items-center" style="align-items: end !important;">
        <ion-col style="padding: 0 15px;--ion-background-color: #c4a051;">
          <app-primary-button label="Invite" (click)="openModal()"
            class="custom-primary-button "></app-primary-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
   
  </div>
</ion-content>