<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-align-center app_bar_title">Recharge</ion-title>
    <ion-buttons slot="end">
      <div style="width: 48px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true" class="ion-text-center">

  <div *ngIf="isLoading">
    <ion-card *ngFor="let i of [].constructor(10);">
      <ion-card-content>
        <app-skeleton-card></app-skeleton-card>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!isLoading && !( wallet && (wallet.coins?.length ?? 0) > 0)">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 30vh;">
        <ion-col size="8">
          <h4>
            There is no address in your wallet.
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!isLoading && wallet && (wallet.coins?.length ?? 0) > 0">
    <ion-card *ngFor="let coin of wallet.coins; let i = index"
      (click)="recharge(coin.main_chain ?? 'btc', coin.address ?? '', coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].total ?? 0 : 0, coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].rateUSD ?? 0 : 0)">
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <img [src]="getIconCoin(coin.symbol ?? 'BTC')" alt="" width="40px" height="40px">
              </ion-col>
              <ion-col class="ion-text-start" size="auto">
                <ion-card-title style="font-weight: bold;">
                  {{coin.symbol ?? ''}}
                </ion-card-title>
                <ion-card-subtitle>
                  {{ coin.name ?? '' }}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
            <ion-col size="auto" class="ion-text-end">
              <ion-card-title>
                {{coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].total ?? 0 : 0}}
              </ion-card-title>
              <ion-card-subtitle>
                ≈ ${{coin.transactions && coin.transactions.length > 0 ? coin.transactions[0].inUSD ?? 0 : 0}}
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>