ion-row {
	width: 100%;
  }
 
  
  ion-toolbar {
	background: none !important;
	--background: transparent;
  }
  .header-md{ box-shadow:none;} 
  ion-back-button {
	  background: #ffffff40;
	  border-radius: 50px;
  }
  ion-title {
	text-align: left;
	margin-left: 0;
	font-size: 14px;
  }
   
  
  .newlogo_w img{ width: 280px; height: auto;}
  .height-container {
	height: 80vh;
  }
  .text_get_started h2 {
	  color: #fff;
	  text-transform: uppercase;
	  padding: 40px 0 0px;
	  text-align: left;
	  font-size: 20px; position: relative;margin-bottom: 30px;
  }
  .text_get_started h2::after {
	content: "";
	position: absolute;
	background-color: #fff;
	width: 30px;
	height: 2px;
	bottom: -5px;
	left: 0;
  }
  
  ion-input {min-height: 50px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 7px;
	color: #fff; 
	font-size: 14px;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.42) 0%, rgba(255, 255, 255, 0.1) 57%);
	margin-top: 0;
	font-size: 16px; 
	text-align: center;
	font-weight: bold;
  }.input-fill-outline.sc-ion-input-md-h {
	   --border-radius: 14px; --background: #0000;
  } 
   
  .app_bar_title { 
	  font-size: 12px;
	  text-align: left;
  }
  
  .max-width-input {
	max-width: 400px;
  }
  .limited-width {
	padding: 20px 0 0;
	text-align: left;
	margin: 0;
}
  
  
  .image-width {
	max-width: 400px;
  }
  
  .padding-head {
	padding-left: 10px;
	padding-right: 10px;
  }
  
   