<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;">
      Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="satting_page">
  <ion-item [button]="true" class="margin-bottom setting_menu" >
    <ion-icon slot="start" name="person-outline" size="large"></ion-icon> 
    <ion-label>Profile</ion-label>
  </ion-item>

  <ion-item [button]="true" class="margin-bottom setting_menu"  >
    <ion-icon slot="start" name="help-circle-outline" size="large"></ion-icon>
    <ion-label>About us</ion-label>
  </ion-item>
  <ion-item [button]="true" class="margin-bottom setting_menu"    >
    <ion-icon slot="start" name="call-outline" size="large"></ion-icon>
    <ion-label>Support</ion-label>
  </ion-item>
  <ion-item [button]="true" class="margin-bottom setting_menu"    >
    <ion-icon slot="start" name="reader-outline" size="large"></ion-icon>
    <ion-label>Terms and Conditions</ion-label>
  </ion-item>
  <ion-item [button]="true" class="margin-bottom setting_menu"    >
    <ion-icon slot="start" name="document-outline" size="large"></ion-icon>
    <ion-label>Privacy Policy</ion-label>
  </ion-item>

  <ion-item [button]="true" class="margin-bottom setting_menu" id="delete-alert">
    <ion-icon slot="start" name="trash-outline" size="large"></ion-icon>
    <ion-label>DELETE ACCOUNT</ion-label>
  </ion-item>
  <ion-item [button]="true" class="margin-bottom setting_menu" id="logout-alert">
    <ion-icon slot="start" name="log-out-outline" size="large"></ion-icon>
    <ion-label>LOGOUT</ion-label>
  </ion-item>
</div>
  <!--  <ion-grid>
    <ion-row>
      <ion-col style="padding: 50px;">
        <ion-icon name="person-circle-outline" color="primary" size="large"></ion-icon>
        <p style="color: var(--ion-color-primary);">{{account}}</p>
      </ion-col>
     <ion-col size="12" style="padding: 5px 15px;">
        <ion-button color="danger" expand="full" >LOGOUT</ion-button>
      </ion-col>
      <ion-col size="12" style="padding: 5px 15px;">
        <ion-button color="danger" fill="outline" ></ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>-->
  <ion-alert trigger="logout-alert" header="Are you sure you want to logout!" [buttons]="alertButtons"></ion-alert>
  <ion-alert trigger="delete-alert" header="Are you sure you want to delete your account!"
    [buttons]="alertButtons"></ion-alert>
</ion-content>