.full-width{
    width: 100%;
}

ion-button {
    font-weight: bold;
    text-transform: unset;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    height: 50px;
}

ion-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 0px;;
    }
}

.setting_menu {
    width: 100%;
    float: left;
    background: #1c1c1d;
    margin: 10px 0;
} 